<!-- footer -->
<footer class="bg-dark text-light py-4  "  >
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer">
        <p class="copyrights">&copy; 2023 Iglass. All rights reserved.</p>

        <div class="social-icons">
          <a class="social-icon social-icon--instagram">
            <i class="fa-brands fa-instagram"></i>
            <div class="tooltip">Instagram</div>
          </a>
          <a class="social-icon social-icon--linkedin">
            <i class="fa-brands fa-linkedin"></i>
            <div class="tooltip">LinkedIn</div>
          </a>
          <a class="social-icon social-icon--facebook">
            <i class="fa-brands fa-facebook"></i>
            <div class="tooltip">Facebook</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<script src="./script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<script src="./js/script.js"></script>
</body>

</html>